@font-face {
    font-family: Houschka;
    src: url("../../HouschkaHead/HouschkaHead-Medium.otf");
}

.chart-place{
    width: 90%;
    background: white;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    border-radius: 0.5em;
}

.chart-title{
    width: 100%;
    height: 30px;
    padding: 10px 0;
    border-bottom: 1px solid black;

    font-size: 16px;
    text-align: center;
}

.adecco-chart-scale{
    float: left;
    height: 250px;
    width: 16%;

    text-align: center;
    font-size: 18px;
    color: #009cd0;
}

.chart-label{
    width: 100%;
    margin-left: auto; margin-right: auto;

    background-color: white;
    text-align: center;
    color: #009cd0;
    font-weight: bold;
    font-size: 20px;

    border-radius: 0.5em;
}

.chart-post{
    width: 50px;
    margin-left: auto; margin-right: auto;

    background-color: #009cd0;
    text-align: center;
    color: #cccccc;
    font-weight: bold;
    font-size: 20px;

    padding-right: 20px;
    direction: rtl;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.chart-post:hover{
    background-color: #10aad0;
    color: #333333;
}

.chart-label-KPI{
    height: 2em;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
}

.chart-post-KPI{
    height: 50px;
    background-color: #009cd0;
    color: #cccccc;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.chart-post-KPI:hover{
    background-color: #10aad0;
    color: #333333;
}

table{
    width: 90%;

    border: 1px solid #eeeeee;
    table-layout: fixed;

    margin: 5px auto;
}

th{
    background-color: rgb(17, 74, 82);
    color: #ffffff;

    line-height: 1.8em;
    font-size: 1.1em;

    border-radius: 0.25em;

    padding: 0 5px;
}

td{
    word-wrap: break-word;
}

td input[type=submit]{

    float: none;

    font-family: Houschka;
    text-align: center;
    background-color: rgb(53, 53, 53);
    color: #ffffff;

    border-radius: 0.25em;

    margin: 10px;

    opacity: 0.8;
    line-height: 1.8em;

    font-size: 1.1em;
}

tr{
    text-align: center;
    color: #111;
}

tr:nth-child(even){
    background-color: #eeeeee;
    border-color: #ffffff;
}

tr:nth-child(odd){
    background-color: #ffffff;
    border-color: #eeeeee;
}

.bottom-cell{
    width: 70%;
    margin-left: 15%;

    padding-top: 2%;

    border-top:1px solid grey;
}

.input-information, .input-information form{
    width: 100% !important;
    height: 2em !important;
    font-size: 16px !important;
}

