#order-id{
    width: 100%;

    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

#approval{
    color: black;
}

table{
    width: 100%;

    border: 1px solid #eeeeee;
    table-layout: fixed;
}

th{
    background-color: rgb(17, 74, 82);
    color: #ffffff;

    line-height: 1.8em;
    font-size: 1.1em;

    border-radius: 0.25em;

    padding: 0 5px;
}

tr{
    text-align: center;
    color: #111;
}

tr:nth-child(even){
    background-color: #eeeeee;
    border-color: #ffffff;
}

tr:nth-child(odd){
    background-color: #ffffff;
    border-color: #eeeeee;
}

td{
    word-wrap: break-word;
}