#main-data{
    padding: 20px 20px 0 20px;
}

#new-record{
    padding: 20px 20px 0 20px;
}

#records{
    padding: 20px 20px 0 20px;
}

.main-data-tile{
    width: 24%;

    float: left;
    height: 70px;

    margin-left: auto;
    margin-right: auto;

    text-align: center;

    border-right: 1px solid #d29292;
}

.new-record-tile{
    float: left;

    width: 24%;
    height: 70px;

    text-align: center;

    border-right: 1px solid #d29292;
}

.new-record-line{
    width: 100%;

    margin-top: 20px;
}

.new-record-line-tile{
    float: left;

    text-align: center;

    height: 70px;
    width: 48%;
}

table{
    width: 100%;

    border: 1px solid #eeeeee;
    table-layout: fixed;
}

caption{
    color: #111111;
}

th{
    background-color: rgb(17, 74, 82);
    color: #ffffff;

    line-height: 1.8em;
    font-size: 1.1em;

    border-radius: 0.25em;

    padding: 0 5px;
}

tr{
    text-align: center;
    color: #111;
}

tr:nth-child(even){
    background-color: #eeeeee;
    border-color: #ffffff;
}

tr:nth-child(odd){
    background-color: #ffffff;
    border-color: #eeeeee;
}

td{
    word-wrap: break-word;
}

input[type=submit]{
    float: right;

    font-family: Houschka;
    text-align: center;
    background-color: rgb(17, 74, 82);
    color: #ffffff;

    line-height: 1.8em;
    font-size: 1.1em;

    margin: 0 5px;

    border-radius: 0.5em;
}

td input[type=submit]{

    background-color: #999999 !important;
    box-shadow: none !important;

    opacity: 0.8 !important;
    border-radius: 0.25em !important;
}