.commission-new-form {
    margin-left: 60px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 0.8em;
}

.commission-new-card {
    margin: auto;
    padding: 10px;
}

.commission-details-card {
    margin-left: 60px;
    margin-right: 10px;
    font-size: 0.8em;
}

.commission-icon {
    float: right;
    align-items: start;
    font-size: 28px;
    color: #6c757d
}

.commission-icon:hover {
    color: #238A91;
}

.commission-icon svg {
    margin-left: 10px;
    vertical-align: top;
}

